<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Online KanBan Board</title>
    <link type="text/css" rel="stylesheet" href="../../webapp/static/css/register.css"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>

<div class="col-3"></div>
<div class="container col-6">
    <div align="center" >
        <div class="w3-container w3-blue">
            <h2>Online KanBan Board</h2>
        </div>
        <form style="height:100px; width:500px;" class="w3-container">
            <p>
                <label>User name</label>
                <input  id="username" class="w3-input" type="text"></p>
            <p>
                <label>Password</label>
                <input id="password" class="w3-input" type="password"></p>
            <button  class="button" type="Login">Login</button>
            </br>
            <a href="" >Register</a>
        </form>
    </div>
</div>
</body>
</html>